---
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div class="top-header container">
				<img src="" alt="">
				<div class="input">
					<input placeholder="Busca lo que deseas aqui"/>
					<button><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
					  </svg>
					  </button>
				</div>
				<span>publicidad</span>
			</div>

		</header>
		<div class="banner">

		</div>
		<div class="cards container">
			<div class="card">

			</div>
			<div class="card">

			</div>
			<div class="card">

			</div>
			<div class="card">

			</div>
			<div class="card">

			</div>
			<div class="card">

			</div>
		</div>
		<!-- <slot /> -->
	</body>
</html>
<style >
	html, body{
		padding: 0;
		margin: 0;
		background-color: rgb(192, 189, 189);
	}
	header{
		padding-top: 10px;
		height: 80px;
		background-color: #ffe600;
	}

	header input{
		
		box-sizing: border-box;
		display: inline-block;
		width: 80%;
		padding: 10px 8px;
		border-top-left-radius: 3px;
		border border-bottom-left-radius: 3px;
		border: none;
		/* border: 1px solid white; */
		outline: none;
		
		
	}
	header button{
		display: inline-block;
		height: 35px;
		width: 32px;
		border: none;
		background-color: #fff;
		border-top-right-radius: 3px;

	}
	.input{
		display: flex;
		align-items: center;
		height: 35px;

	}
	.banner{
		height: 280px;
		background: linear-gradient(to bottom,  #ffe600 60%, rgb(192, 189, 189) 100%);
	}

	.container{
		max-width: 1100px;
		margin: 0 auto;
	}
	.cards{
		display: flex;
		margin-top: -80px;
		height: 240px;
		gap: 10px;
	}
	.card{
		min-width: 100px	;
		flex-grow: 1;
		border-radius: 6px;
		background-color: #fff;
	}
	.top-header{
		column-count: 3;
	}
	.top-header span{
		display: block;
	}

	
</style>
